h4{
    color: #fdfcfc;
}
p{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}


body {
    background-image: linear-gradient(to right, rgb(99, 99, 99) ,rgb(255, 255, 255), rgb(99, 99, 99));
}