h1{
    color: blue;
}
body{
    background-color: lightblue;
}
h2{
    color: blueviolet;
}
p{
    color: crimson;
}
footer {
    background-color: black;
    text-align: center;
    padding: 20px;
}
footer p {
    color: white;
}

nav{

     background-color: green (126, 150 ,120);
     color: blueviolet;

}
nav a{
    color: brown;
    display: inline-block;
    text-decoration: none;
    padding: 20px 20px;
    transition-duration: 0.3s;
    margin-left: -5px;
}

main{
    background-image: linear-gradient(90deg,red,rgb(162, 0, 255));
    background-image: radial-gradient(rgb(255, 234, 47),rgb(225, 0, 255));

    width: 75%;
    margin: auto;
    padding: 20px;

    border: 2px solid black;
    border-radius: 30px;

    box-shadow: 10px 10px 10px grey;

}



form{
    background-color:black ;
    padding: 20px;
    width: 98%;
    color:white;
    display: block;
    margin: auto;
    text-align: center;
    
}

button:hover{

    background-color:aqua ;

}

