/* imports */
/* https://fonts.google.com/specimen/Nunito+Sans */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,700;0,900;1,200;1,900&display=swap');


/* reset default styles so not f*ck everything up */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

/* header styling*/
header {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

/* navbar styling */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
}

.navbar-search {
    display: flex;
    align-items: center;
    margin-left: auto; /* Align the search bar to the right */
}

.navbar-search input[type="text"] {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    outline: none;
    transition: all 0.3s ease;
}

.navbar-search input[type="text"]:focus {
    border-color: #333;
}

.navbar-search button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    height: 30px;
    width: 30px;
    margin-left: -30px;
}

.navbar-search img {
    width: 20px;
    height: 20px;
}

/* main content area styling */
main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

/* footer styling */
footer {
    background-color: #fff;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

/* misc */

.center {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    width: fit-content;
    text-align: center;
    padding-bottom: 10px;
}


.pB {
    /* padding-bottom: 10px; */
    max-width: 100%;
    height: auto;

}

article, nav, header, footer {
    padding: 30px;
}

article {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

em {
 font-family: 'Nunito Sans', sans-serif;
 font-style: italic;
 font-size: 15px;
}

h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
}

.halfline {
    display: block;
    margin-bottom: 0.7em;
}
 
input {
    font-family: 'Nunito Sans', sans-serif;
}

/* Logo styles */
.logo {
    display: block;
    margin: 50px auto;
    width: 650px;
    height: 60px;
}

/* Search bar styles */
.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.search-bar input[type="text"] {
    width: 70%;
    padding: 10px;
    border: none;
    outline: none;
}

.search-bar button {
    width: 20%;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Image grid styles */
.image-grid img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.image-cell {
    width: 100%;
    padding-top: 100%; /* Aspect ratio box trick */
    position: relative;
}

.image-cell img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navitem:hover {
    font-weight: bold   ;
}

.goof{
    display: block;
    margin: auto;
    width: 70%;
    padding: 10px;
    outline: none;
}

.inputField {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    outline: none;
    transition: all 0.3s ease;
}

.inputField:focus {
    border-color: #333;
    box-shadow:  0px 0px 5px rgba(0, 0, 0, 0.3)
}

.btn {
    background-color: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
