;  h1 {
    color:rgb(211, 145, 65);
    text-align: center;
    background-color: rgb(30, 32, 160);
    text-shadow: 3px 6px 8px rgb(182, 29, 29);
    font-size:50px ;

   
}   


main {
    width: 600px;
    margin:auto;
    padding:20px;
    box-shadow: 5px 5px 10px rgb(215, 230, 8);
}   
    

p{
    
}




h1{

}

body {
    border-width: 70%;
    background-color: rgb(30, 148, 60);
    background-image: linear-gradient(rgb(201, 57, 57), rgba(189, 192, 24, 0.938), rgb(9, 128, 9));
    
}
    