h2{
    color:blue;
    padding-left:3px;
}

h1{
    text-align:center; color:red; text-shadow:5px 5px 6px rgb(19, 31, 139); font-size:70px;
}
p{
    color:rgba(0, 0, 0, 0.658); font-style:bold; padding-left:5px;
    font-family:serif;
}
body{
    background-color:aquamarine;
    background-image:url("https://assets.iflscience.com/assets/articleNo/64689/aImg/58923/void-in-space-meta.png");
    background-size:cover;
    background-attachment:scroll;
}
.subheading{
    font-size:40px;
    text-align:center;
    color:rgba(231, 43, 43, 0.801);
    margin-bottom:25px;
    text-shadow:2px 2px 2px rgb(31, 197, 31);
}
div{
    background-image:radial-gradient(yellow, rgb(197, 141, 197), aquamarine, grey); width:80%; margin:auto; padding:5px;
    border:solid 2px grey;
    border-radius:20px;
    box-shadow:inset 1px 8px 20px black;
}
nav a{
    display:inline-block;
    background-color:rgb(135, 204, 23);
    padding:15px;
    border-radius:10px;
    transition-duration:400ms;
}
a{
    margin:5px;
    text-decoration:wavy;
}
nav a:hover{
    background-image:linear-gradient(purple, pink, red);
    translate:6px 4px;
}
nav{
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    padding:10px;
}
.ocean{background-image:url(https://images.theconversation.com/files/223729/original/file-20180619-126566-1jxjod2.jpg?ixlib=rb-1.1.0&rect=0%2C5%2C3840%2C1920&q=45&auto=format&w=1356&h=668&fit=crop);
}
.land{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStnxSxfE4PjzGLYpykRvmL_v9ZjoR9absSxg&usqp=CAU)
}