    p {
        color: rgb(73, 66, 66);
        font-family: "Libre Franklin", sans-serif;
    }
    h1 { 
          font-family: "times new roman", sans-serif;
        color: rgb(255, 255, 255);
        font-size: 100px;
        text-shadow: 1px 1px 4px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 30px;
    }
    body {
      background-color: lightcyan;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-image: url(https://qph.cf2.quoracdn.net/main-qimg-e0c9079c7afc58632f7b025a90a2724a-lq);
  }
    h2 {
        color: rgb(85, 84, 84);
          font-family: "Oxygen", sans-serif;
        font-size: 50px;
        text-align: center;

    }
    p.subheading { 
        color: rgb(255, 255, 255);
        font: size 50px;
          font-family: "Oxygen", sans-serif;
        font-size: 50px;
        text-align: center;
        text-shadow: 2px 2px 5px;
    }       
    main { 
        width: 70%;
    margin: auto;
    padding: 20px;
    background-color: beige;
       border-color: black;
       border-width: 20px;
       border-style:  groove;
       border-radius: 10px;
       background-image: linear-gradient(beige, rgb(235, 169, 108));
    }

a{
  color: white; 
  font-size: x-large;
  padding: 15px;
  background-color: forestgreen;
  text-decoration: none;
  display: inline-block;
  transition-duration: 300ms;
  border-radius: 10px;
  position: fixed;
  top: 10px;
}
a:hover {
  background-color: green;
  translate: 0 -4px ;
}