nav {
  background: rgb(141, 161, 23) 
  padding 10px;
}


a{ 
  background: purple;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  text-decoration: none;
  color: black;
  transition-duration: 300ms;
}

a:hover {
background: red;
 translate: 0 -5px;
}

h1 
  {color: red;
   font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    font-family: Lacquer;
}


body {
background-color: lightblue;
}


p, ul {
  color: blue;
  background-color: lightgreen;
  padding: 20px;
  box-shadow: 2px 2px 5px;
  width: 70%;
  margin: auto;
}
  
  h2 { 
    text-align: center;
  }

 